*{
	margin: 0;
}
.contanier{
	width: 960px;
	margin: 0 auto;
}
.wrapper{
	width: 500px;
	height: 500px;
	margin-top: 200px;
	background-color: red;
	position: relative; /*static*/
	
}
.wrapper .block{
	width: 100px;
	height: 100px;
	background-color: blue;
	position: absolute;
	top: 100px;
	left: 200px;
}
.wrapper .block2{
	width: 100px;
	height: 100px;
	background-color: green;
	position: absolute;
	bottom: 110px;
	right: 210px;	
}
nav{
	width: 100%;
	height: 50px;
	position: fixed;
	top: 0;
	left: 0;
	background-color: pink;
}
nav ul{
	width: 100%;
	height: 50px;
	list-style-type: none;/*sqare|circle|circle-0*/
	/*list-style-image: */
	padding: 0;
}
nav ul li{
	width: 33%;
	/*display: black;*/
	float: left;
	text-align: center;
	line-height: 50px;

}
nav ul li a{
	text-decoration: none;
	color: yellow;

}
section{
	width: 100%;
	height: 100vh;	
}
/*static=> fixed*/
.sticky{
	width: 50px;
	height: 50px;
	position: sticky;
	background-color: black;
	top: 10px;
	left: 300px;
	z-index: 2;
}
#one{
	background-color: lightgreen;
}
#two{
	background-color: lightblue;
}
#three{
	background-color: lightyellow;
}
